html {
    text-align: -webkit-center;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1rem; line-height: 1.5rem; font-weight: 400;font-style:normal;letter-spacing:0;
    margin: 0;
    padding: 0;
}

header {
    padding: 0px 12% 0px 12%;
    margin: 30px 0;
}

main {
    flex: 1;
    height:auto;
    padding: 40px 12% 40px 12%;
}

.name_card_container {
    display: grid;
    grid-template-columns: 20% 1fr;
    column-gap: 50px;
    overflow-wrap: normal;
    justify-content: center;
    margin: 0;
    padding: 5px 0 5px 0;
}

.left_profilo {
    height: auto; 
    text-align: left;
    max-width: 100%;
    min-width: 100%;
    padding: 8px 0 0 0;
}

.left_profilo img {
    border: 3px dotted #a1a1a1;
    max-width: 100px;
    min-width: 80px;
}

.left_profilo #profilo_links {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    row-gap: 10px;
    margin: 15px 0 0 0;
}

.right_text {
    padding: 0;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

#a_text {
    font-size: 0.9rem;
    color: inherit;
    font-weight: 300;
    text-decoration: solid underline rgb(102, 102, 102) 0.05rem;
    transition: all 0.2s ease-in-out;
}

#a_text:visited {
    color: rgb(70, 107, 242);
    text-decoration: solid underline rgb(70, 107, 242) 0.05rem;
}

#a_text:hover {
    color:rgb(70, 107, 242);
}

h1, h2, h3, h4 {
    font-weight: 450;
    line-height: 2rem;
    padding: 0;
    margin: 0;
}

h5{
    font-weight: 400;
    padding: 0;
    margin: 0;
}

li, p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 300;
    text-align: justify;
    hyphens: auto;
    color:rgb(68, 68, 68);
    margin: 0;
}

ul {
    padding-inline: 20px 0px;
    margin: 0;
}

li {
    list-style-type: none;
    position: relative;    /* It's needed for setting position to absolute in the next rule. */
}

li::before {
    content: '•';
    position: absolute;
    left: -1rem;          /* Adjust this value so that it appears where you want. */
    font-size: 1.5rem;      /* Adjust this value so that it appears what size you want. */
}

footer {
    position: static;
    align-items: center;
    height: 40px;
    color: rgb(0, 0, 0);
    border-top: 2px dotted #968a8a;
    padding: 10px 0;
    margin: 0 12%;
}

footer p {
    text-align: center;
    font-size: 0.9rem;
}


/* Responsive styles for smaller screens */
@media screen and (max-width: 950px) {
    .left_profilo {
        text-align: center;
    }
    
    .left_profilo img {
        max-width: 80px;
        min-width: 50px;
    }

    .left_profilo #profilo_links {
        row-gap: 5px;
        margin: 8px 0 0 0;
    }

    main {
        padding: 25px 5% 25px 5%;
    }

    .name_card_container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    header {
        padding: 0px 5% 0px 5%;
    }
    
    .navbar ul {
        padding: 10px 2% 10px 2%
    }

    footer {
        margin: 0 5%;
    }

    footer p {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 500px) {
    main #a_text, 
    main li, 
    main p {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

    h1, h2, h3, h4, h5 {
        line-height: inherit;
    }
}



@media screen and (min-width: 1300px) {
    body {
      width: 1300px;
    }
  }

